<div class="column px-0">
    <nav class="panel pl-3">
        <div class="panel-block ">Profile</div>
        <nav class="level is-mobile">

  <div class="panel-block has-text-centered">
    <div>
      <p class="heading">Following</p>
      <p class="panel-block">123</p>
    </div>
  </div>
  <div class="panel-block has-text-centered">
    <div>
      <p class="heading">Followers</p>
      <p class="panel-block">456K</p>
    </div>
  </div>

</nav>
<div class="side-links">
        <a href="#" class="panel-block">Trend 1</a>
        <a href="#" class="panel-block">Trend 2</a>
        <a href="#" class="panel-block">Trend 3</a>
        <a href="#" class="panel-block">Trend 4</a>
        <a href="#" class="panel-block">Trend 5</a>
        <a href="#" class="panel-block">Trend 6</a>
        </div>
    </nav>
</div>