/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";

 .side-panel {
    width: 15%;
    background-color: hsl(0, 0%, 21%);
     a {
      color:white;
   }
 }

.prof-pic {
    align-items: stretch;
    display: flex;
    a {
       width:59%
    }
}

 .panel-block {
     border-bottom:0!important;
     color:white;
 }

 .panel {
    box-shadow: 0;
 }

.stats a:hover, .content a:hover, .post-author a:hover, .post-replies a:hover {
   background-color: white;
}

.tweet-org {
   display: flex;
   flex-direction: inherit;
   justify-content: space-between;

   .tweet-icon{
      flex-direction: column;
   }
}
